<%= provide :title, t(".des") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".open" %>
  <a href="http://www.railstutorial.org/help"><%= t ".link1" %></a>.
  <%= t(".middle") %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".link2" %></em></a>
  <%= t ".end" %>
</p>
